{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb and disable == FALSE %}
	{{ attach_library('sis/breadcrumb') }}

	<div class="container">
		<div{{attributes.addClass('breadcrumb')}}>
			<ol{{items_attributes.addClass('breadcrumb__items')}}>
				{% for item in breadcrumb %}
					{# if breadcrumbs has more than 2 items change first item to ... for mobile only #}
					{% if loop.index == 1 and loop.length > 2 %}
						<li class="breadcrumb__item">
							<a href="{{ item.url }}" class="breadcrumb__link">
								<span class="breadcrumb__text is_mobile">...</span>
								<span class="breadcrumb__text is_desktop">{{item.text}}</span>
							</a>
						</li>
					{% else %}
						<li class="breadcrumb__item">
							{% if item.url %}
								<a href="{{ item.url }}" class="breadcrumb__link">
									<span class="breadcrumb__text">{{ item.text }}</span>
								</a>
							{% else %}
								<span class="breadcrumb__text">{{ item.text }}</span>
							{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			</ol>
		</div>
		{{ breadcrumb_json_data }}
	</div>
{% endif %}
