{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}

{{ attach_library('sis/article-page') }}
{{ attach_library('sis/facts-box') }}
{{ attach_library('sis_map/sis_map') }}
{% if node.field_section_bg_graphics.value %}
  {{ attach_library('sis/section-bg-graphics') }}
{% endif %}

{% set classes = [
  'dot-on-map-page',
  node.field_section_bg_graphics.value ? 'section--background-graphics' : '',
] %}

<article{{ attributes.addClass(classes) }}>
  {% if node.field_section_bg_graphics.value %}
    <img src="/{{ directory }}/dist/images/{{ node.field_section_bg_graphics.value }}.svg" class="section-bg-graphics__image section-bg-graphics__image--{{ node.field_section_bg_graphics.value }} section-bg-graphics__position--{{ node.field_section_bg_graphics_pos.value }}" />
  {% endif %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-lg-8">
        <div{{ content_attributes }}>
          {% if node.field_header[0] %}
            {% include '@reusable-component/page-title.twig' with {
              'attributes': create_attribute().addClass('article-page__title'),
              'title': node.title.value,
            } %}
          {% else %}
            {% include '@reusable-component/page-title.twig' with {
              'attributes': create_attribute().addClass('article-page__title'),
              'title': node.title.value,
            } %}
          {% endif %}
          <div class="article-page__description">
            {{ node.field_summary.value }}
          </div>
          <div class="article-page__content">
            {{ content.body }}
          </div>
        </div>
        {% if node.sis_map_address_dawa.value or (node.lat.value and node.lon.value) %}
          <span
            class="geomarker"
            data-type="default"
            data-title="{{ node.title.value }}"
            {% if node.lat.value and node.lon.value %}
              data-lat="{{ node.lat.value }}"
            data-lon="{{ node.lon.value }}"
            data-description="Breddegrad: {{ node.lat.value }}<br>Længdegrad: {{ node.lon.value }}"
          >
              {% elseif node.sis_map_address_dawa.value %}
                data-address="{{ node.sis_map_address_dawa.value }}"
                data-description="Addresse:{{ node.sis_map_address_dawa.value }}"
                >
            {% endif %}
          </span>
          <div class="map-container">
            <div
              id="map"
              class="geomap"
              data-type="default"
              data-zoom="auto"
              data-center="auto"
              data-layerswitcher="true"
              data-token="9f667a80fc5d9b3f0f8dac7ae6492048">
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        {% if node.field_subject[0] or node.field_class[0] or node.field_location[0] or node.field_season[0] or node.sis_map_address_dawa.value or node.lat.value and node.lon.value %}
          <div class="facts-box">
            <div class="facts-box__title">
                Hvem, hvad, hvor
              </div>
              <div class="facts-box__content">
                {% if node.field_subject[0] %}
                  <div class="facts-box__content-item">
                    <div class="facts-box__content-item-label">
                      Fag
                    </div>
                    <div class="facts-box__content-item-value">
                      {{ node.field_subject.entity.name.value }}
                    </div>
                  </div>
                {% endif %}
                {% if node.field_class[0] %}
                  <div class="facts-box__content-item">
                    <div class="facts-box__content-item-label">
                      Klasse
                    </div>
                    <div class="facts-box__content-item-value">
                      {% for class in node.field_class %}
                        {{ class.entity.name.value }}{{ loop.index != node.field_class|length ? ', ' : '' }}
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
                {% if node.field_location[0] %}
                  <div class="facts-box__content-item">
                    <div class="facts-box__content-item-label">
                      Sted
                    </div>
                    <div class="facts-box__content-item-value">
                      {% for location in node.field_location %}
                        {{ location.entity.name.value }}{{ loop.index != node.field_location|length ? ', ' : '' }}
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
                {% if node.field_season[0] %}
                  <div class="facts-box__content-item">
                    <div class="facts-box__content-item-label">
                      &Aring;rstid
                    </div>
                    <div class="facts-box__content-item-value">
                      {% for season in node.field_season %}
                        {{ season.entity.name.value }}{{ loop.index != node.field_season|length ? ', ' : '' }}
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
                {% if node.sis_map_address_dawa.value %}
                  <div class="facts-box__content-item">
                    <div class="facts-box__content-item-label">Addresse</div>
                    <div class="facts-box__content-item-value">{{ node.sis_map_address_dawa.value }}</div>
                  </div>
                {% endif %}
                {% if node.lat.value and node.lon.value %}
                <div class="facts-box__content-item facts-box__content-item--lat-lon">
                  <div class="facts-box__content-item-label">Breddegrad</div>
                  <div class="facts-box__content-item-value">{{ node.lat.value }}</div>
                </div>
                <div class="facts-box__content-item facts-box__content-item--lat-lon">
                  <div class="facts-box__content-item-label">Længdegrad</div>
                  <div class="facts-box__content-item-value">{{ node.lon.value }}</div>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}

        {% if node.field_contact_information.value %}
          <div class="facts-box">
            <div class="facts-box__title">
              Kontaktdata
            </div>
            <div class="facts-box__content">
              {{ content.field_contact_information }}
            </div>
          </div>
        {% endif %}

        {% if node.field_files[0] %}
          <div class="facts-box">
            <div class="facts-box__title">
              Filer
            </div>
            <div class="facts-box__content">
              {% for file in node.field_files %}
                <div class="facts-box__content-item">
                  <a href="{{ file_url(file.entity.uri.value) }}" title="{{ file.entity.filename.value }}" target="_blank">{{ file.entity.filename.value }}</a>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</article>
