{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - view_mode: The profile view mode used.
 * - profile: The profile object.
 * - url: The profile URL, if available.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'profile',
  'profile--' ~ profile.id,
  'profile--type--' ~ profile.bundle|clean_class,
  profile.isDefault() ? 'profile--is-default',
  view_mode ? 'profile--view-mode--' ~ view_mode|clean_class,
  'clearfix',
  'container'
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <h1>{{ profile.field_organization_address.organization }}</h1>
      {{ title_suffix.contextual_links }}
      <div class="profile--description">
        {{ content.field_organization_description }}
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="profile--logo">
        {{ content.field_organization_logo }}
      </div>
      <div class="profile--address">
        {{ content.field_organization_address }}
      </div>
    </div>
    <div class="col-xs-12">
    </div>
  </div>
</div>
<div class="profile--overview">
  {{ content.field_organization_overview }}
</div>
