{{ attach_library('sis/inspiration-overview') }}
<section class="section section--spacing-top-medium section--spacing-bottom-none js-term-overview">
  {{ breadcrumb }}
  <div class="container">
    <div class="row">
      <div class="inspiration-overview__pageheader col-xs-12">
        {{ title_prefix }}
        <h1  class="inspiration-overview__pageheader-headline">{{ term.label|t }}</h1>
        {{ title_suffix }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div{{ attributes.addClass('inspiration-overview__term') }}>
          {{ entities }}
        </div>
      </div>
    </div>
  </div>
</section>
