{{ attach_library('sis/newsletter-form') }}

<div class="newsletter-form__wrapper js-newsletter-form__wrapper" data-action="{{ newsletter_url }}" data-list="{{ newsletter_list }}" data-gdpr-text="{{ gdpr_text }}" data-gdpr-link="{{ gdpr_link }}">
  <div class="newsletter-form__header">{{ newsletter_header }}</div>
</div>
