{% set link =  url('entity.user.canonical', { 'user': user.id() }) %}
<a href="{{ link }}" class="facts-box">
  <div class="facts-box__content">
    <div class="facts-box__content-item user">
      <div class="facts-box__content-item-label facts-box__content-item-label-author-image">
        {% if content.user_picture %}
          {{ content.user_picture }}
        {% endif %}
      </div>
      <div class="facts-box__content-item-value facts-box__content-item-value-author-full-name">
        {% if content.field_full_name[0] %}
          <h5>{{ content.field_full_name }}</h5>
        {% else %}
          <h5>{{ user.name.0.value }}</h5>
        {% endif %}
        {% if user.field_summary.value %}
          {{ user.field_summary.value[:225] ~ (user.field_summary.value|length > 225 ? '...') }}
        {% endif %}
      </div>
    </div>
  </div>
</a>
