<div class="lexicon__filters">
{%- if items -%}
  <{{ list_type }}{{ attributes }}>
  {%- for item in items -%}
    <li{{ item.attributes }}>{{ item.value }}</li>
  {%- endfor -%}
</{{ list_type }}>
{%- else -%}
  {{- empty -}}
{%- endif -%}
</div>
