{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{{ attach_library('sis/overview-form') }}
{{ attach_library('sis/search-page') }}

<form{{ attributes.addClass('overview-form') }}>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="search-page__header">
          <div class="search-page__header-inner">
            <div class="search-page__description">
              {{ 'Showing search results for'|t }}
            </div>
            <h3 class="search-page__title">
              "{{ element.keyword }}"
            </h3>
            <div class="search-page__count">
              {{ element.number_of_results }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 overview-form__toolbar">
        <span class="overview-form__toolbar-label">{{ "Sorted by"|t }}:</span>{{ element['facets'].sort }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <div class="overview-form__search-filters">
          <div class="accordion js-accordion">
            <div class="accordion__items">
              <div class="accordion-buttons">
                <button id="buttonExpandAll" type="button" class="accordion-button__expand button button--ghost">
                  {{ "Expand All"|t }} +
                </button>
                <button id="buttonCollapseAll" type="button" class="accordion-button__collapse button button--ghost hide">
                  {{ "Collapse All"|t }} -
                </button>
              </div>
              {{ element['facets'].field_article_type }}
              {{ element['facets'].field_class }}
              {{ element['facets'].field_location }}
              {{ element['facets'].field_season }}
              {{ element['facets'].field_subject }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="row">
          {{ element['content']|without('total') }}
        </div>
      </div>
    </div>
  </div>
  {{ element['page'] }}
  {{ element['page_submit'] }}
  {{ element['form_build_id'] }}
  {{ element['form_token'] }}
  {{ element['form_id'] }}
</form>
