<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h2>{{ atom('lexicon-block-headline') }}</h2>
      {{ atom('lexicon-block-description') }}
      <h4>{{ atom('lexicon-block-filter-headline') }}</h4>
      {{ filters }}
    </div>
    <div class="col-xs-12 col-md-6">
      {{ articles }}
    </div>
  </div>
</div>
