{{ attach_library('sis/seasonal-wheel') }}


<div{{attributes.addClass('seasonal-wheel')}}>
	{{ title_prefix }}
	{{ title_suffix }}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-5 col-md-offset-1">
				<div class="seasonal-wheel__content">
					<h2 class="seasonal-wheel__headline">{{ content.field_seasonal_wheel_title  }}</h2>
					<div class="seasonal-wheel__description">{{ content.field_text }}</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-6">
				<div class="seasonal-wheel__wrapper">
					<div id="seasonal-wheel-image">
						<img src="/{{directory}}/assets/images/seasonal_wheel.svg"/></img>
				</div>
				<div id="seasonal-wheel-overlay">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 580 580" style="enable-background:new 0 0 580 580;" xml:space="preserve">
						<defs>
							<filter id="Adobe_OpacityMaskFilter" filterunits="userSpaceOnUse" x="96" y="19.7" width="177" height="231.7">
								<feColorMatrix type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
							</filter>
						</defs>
						<mask maskunits="userSpaceOnUse" x="96" y="19.7" width="177" height="231.7" id="mask0_1918_128300_00000020363265261175252470000010592555694487462059_">
							<path class="st0" d="M249.6,247.4c1.2,1.3,2.7,2.3,4.4,3c1.6,0.7,3.4,1.1,5.2,1.1c2.1,0,4.2-0.5,6.2-1.5c1.9-0.9,3.6-2.3,4.9-4
																									c1.3-1.6,2.1-3.6,2.5-5.6c0.4-2,0.3-4.2-0.3-6.2L217.7,29.9c-0.8-2.9-2.5-5.5-4.9-7.3c-2.4-1.8-5.3-2.8-8.3-2.8
																									c-1.4,0-2.9,0.2-4.3,0.7c-36.9,12.1-70.8,31.7-99.7,57.5c-1.4,1.2-2.5,2.7-3.3,4.4c-0.8,1.7-1.2,3.5-1.2,5.3
																									c-0.1,1.9,0.3,3.7,1,5.4c0.7,1.7,1.7,3.3,3,4.6L249.6,247.4z"/>
						</mask>
						<g class="st1">
							<path class="st2" d="M249.6,247.4c1.2,1.3,2.7,2.3,4.4,3c1.6,0.7,3.4,1.1,5.2,1.1c2.1,0,4.2-0.5,6.2-1.5c1.9-0.9,3.6-2.3,4.9-4
																									c1.3-1.6,2.1-3.6,2.5-5.6c0.4-2,0.3-4.2-0.3-6.2L217.7,29.9c-0.8-2.9-2.5-5.5-4.9-7.3c-2.4-1.8-5.3-2.8-8.3-2.8
																									c-1.4,0-2.9,0.2-4.3,0.7c-36.9,12.1-70.8,31.7-99.7,57.5c-1.4,1.2-2.5,2.7-3.3,4.4c-0.8,1.7-1.2,3.5-1.2,5.3
																									c-0.1,1.9,0.3,3.7,1,5.4c0.7,1.7,1.7,3.3,3,4.6L249.6,247.4z"/>
						</g>
						<defs>

							<filter id="Adobe_OpacityMaskFilter_00000018210193719157670740000016137255662404444320_" filterunits="userSpaceOnUse" x="19.3" y="96.4" width="231.7" height="176.9">
								<feColorMatrix type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
							</filter>
						</defs>
						<mask maskunits="userSpaceOnUse" x="19.3" y="96.4" width="231.7" height="176.9" id="mask1_1918_128300_00000163038697462854632060000018238849885580844688_">

							<path style="fill:#EFE3D7;filter:url(#Adobe_OpacityMaskFilter_00000018210193719157670740000016137255662404444320_);stroke:#EFE3D7;stroke-width:1.3669;stroke-miterlimit:10;" d="
																									M29.5,218.1l204.3,54.7c1.2,0.3,2.4,0.5,3.7,0.5c2.7,0,5.3-0.8,7.5-2.4c2.2-1.5,3.9-3.7,5-6.2c1.1-2.5,1.3-5.2,0.8-7.9
																									c-0.5-2.6-1.9-5.1-3.8-7L97.4,100.4c-1.3-1.3-2.8-2.3-4.4-3c-1.7-0.7-3.4-1-5.2-1c-1.9,0-3.8,0.4-5.6,1.2c-1.8,0.8-3.3,1.9-4.6,3.4
																									c-25.8,29-45.3,62.9-57.6,99.7c-0.6,1.8-0.8,3.6-0.7,5.5c0.2,1.9,0.7,3.6,1.6,5.3c0.9,1.6,2.1,3.1,3.6,4.2
																									C26,216.8,27.7,217.6,29.5,218.1z"/>
						</mask>
						<g class="st4">
							<path class="st2" d="M29.5,218.1l204.3,54.7c1.2,0.3,2.4,0.5,3.7,0.5c2.7,0,5.3-0.8,7.5-2.4c2.2-1.5,3.9-3.7,5-6.2
																									c1.1-2.5,1.3-5.2,0.8-7.9c-0.5-2.6-1.9-5.1-3.8-7L97.4,100.4c-1.3-1.3-2.8-2.3-4.4-3c-1.7-0.7-3.4-1-5.2-1c-1.9,0-3.8,0.4-5.6,1.2
																									c-1.8,0.8-3.3,1.9-4.6,3.4c-25.8,29-45.3,62.9-57.6,99.7c-0.6,1.8-0.8,3.6-0.7,5.5c0.2,1.9,0.7,3.6,1.6,5.3
																									c0.9,1.6,2.1,3.1,3.6,4.2C26,216.8,27.7,217.6,29.5,218.1z"/>
						</g>
						<defs>

							<filter id="Adobe_OpacityMaskFilter_00000021815006126383819330000010547983951897559945_" filterunits="userSpaceOnUse" x="5.7" y="221.2" width="237.3" height="136.8">
								<feColorMatrix type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
							</filter>
						</defs>
						<mask maskunits="userSpaceOnUse" x="5.7" y="221.2" width="237.3" height="136.8" id="mask2_1918_128300_00000166637067036993254640000005350462908405127325_">

							<path style="fill:#EFE3D7;filter:url(#Adobe_OpacityMaskFilter_00000021815006126383819330000010547983951897559945_);stroke:#EFE3D7;stroke-width:1.3669;stroke-miterlimit:10;" d="
																									M28.5,357.6l204.3-54.7c2.9-0.8,5.5-2.5,7.3-4.9c1.8-2.4,2.8-5.3,2.8-8.3s-1-5.9-2.8-8.3c-1.8-2.4-4.4-4.1-7.3-4.9L28.5,221.7
																									c-1.2-0.3-2.4-0.5-3.6-0.5c-3.1,0-6.2,1.1-8.6,3.1c-2.4,2-4.1,4.7-4.8,7.8c-7.9,38-7.9,77.2,0,115.1c0.6,3.1,2.3,5.8,4.8,7.8
																									c2.4,2,5.5,3.1,8.6,3.1C26.2,358,27.4,357.9,28.5,357.6z"/>
						</mask>
						<g class="st6">
							<path class="st2" d="M28.5,357.6l204.3-54.7c2.9-0.8,5.5-2.5,7.3-4.9c1.8-2.4,2.8-5.3,2.8-8.3s-1-5.9-2.8-8.3
																									c-1.8-2.4-4.4-4.1-7.3-4.9L28.5,221.7c-1.2-0.3-2.4-0.5-3.6-0.5c-3.1,0-6.2,1.1-8.6,3.1c-2.4,2-4.1,4.7-4.8,7.8
																									c-7.9,38-7.9,77.2,0,115.1c0.6,3.1,2.3,5.8,4.8,7.8c2.4,2,5.5,3.1,8.6,3.1C26.2,358,27.4,357.9,28.5,357.6z"/>
						</g>
						<defs>

							<filter id="Adobe_OpacityMaskFilter_00000177482219019896331380000008888255174746225569_" filterunits="userSpaceOnUse" x="19.3" y="305.9" width="231.7" height="177">
								<feColorMatrix type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
							</filter>
						</defs>
						<mask maskunits="userSpaceOnUse" x="19.3" y="305.9" width="231.7" height="177" id="mask3_1918_128300_00000137104976706615404510000002565293892240450967_">

							<path style="fill:#EFE3D7;filter:url(#Adobe_OpacityMaskFilter_00000177482219019896331380000008888255174746225569_);stroke:#EFE3D7;stroke-width:1.3669;stroke-miterlimit:10;" d="
																									M247,329.3c1.9-1.9,3.3-4.3,3.8-7c0.5-2.6,0.3-5.4-0.8-7.9c-1-2.5-2.7-4.6-5-6.2c-2.2-1.5-4.9-2.3-7.5-2.4c-1.2,0-2.5,0.2-3.7,0.5
																									L29.5,361.1c-1.8,0.5-3.5,1.3-4.9,2.5s-2.7,2.6-3.6,4.2c-0.9,1.6-1.4,3.4-1.6,5.3c-0.2,1.8,0.1,3.7,0.6,5.5
																									c12.1,36.9,31.7,70.8,57.5,99.8c1.2,1.4,2.8,2.5,4.4,3.3c1.7,0.8,3.5,1.2,5.4,1.2c1.9,0,3.7-0.3,5.4-1c1.7-0.7,3.3-1.7,4.6-3
																									L247,329.3z"/>
						</mask>
						<g class="st8">
							<path class="st2" d="M247,329.3c1.9-1.9,3.3-4.3,3.8-7c0.5-2.6,0.3-5.4-0.8-7.9c-1-2.5-2.7-4.6-5-6.2c-2.2-1.5-4.9-2.3-7.5-2.4
																									c-1.2,0-2.5,0.2-3.7,0.5L29.5,361.1c-1.8,0.5-3.5,1.3-4.9,2.5s-2.7,2.6-3.6,4.2c-0.9,1.6-1.4,3.4-1.6,5.3c-0.2,1.8,0.1,3.7,0.6,5.5
																									c12.1,36.9,31.7,70.8,57.5,99.8c1.2,1.4,2.8,2.5,4.4,3.3c1.7,0.8,3.5,1.2,5.4,1.2c1.9,0,3.7-0.3,5.4-1c1.7-0.7,3.3-1.7,4.6-3
																									L247,329.3z"/>
						</g>
						<defs>

							<filter id="Adobe_OpacityMaskFilter_00000005233253754815954920000014779924149457602957_" filterunits="userSpaceOnUse" x="96" y="327.9" width="177" height="231.7">
								<feColorMatrix type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
							</filter>
						</defs>
						<mask maskunits="userSpaceOnUse" x="96" y="327.9" width="177" height="231.7" id="mask4_1918_128300_00000089559497845667715220000007369634873339556486_">

							<path style="fill:#EFE3D7;filter:url(#Adobe_OpacityMaskFilter_00000005233253754815954920000014779924149457602957_);stroke:#EFE3D7;stroke-width:1.3669;stroke-miterlimit:10;" d="
																									M270.2,333.3c-1.3-1.7-3-3.1-4.9-4c-1.9-0.9-4-1.4-6.2-1.5c-1.8,0-3.5,0.4-5.2,1.1c-1.6,0.7-3.1,1.7-4.4,3L100,481.5
																									c-1.3,1.3-2.4,2.9-3,4.6c-0.7,1.7-1,3.6-1,5.5c0,1.9,0.5,3.7,1.3,5.4c0.8,1.7,1.9,3.2,3.3,4.4c29,25.8,62.9,45.3,99.7,57.6
																									c1.8,0.6,3.6,0.8,5.5,0.6c1.9-0.2,3.7-0.7,5.3-1.6c1.6-0.9,3.1-2.1,4.2-3.6c1.1-1.5,2-3.1,2.5-4.9l54.7-204.3
																									c0.6-2,0.7-4.1,0.3-6.2C272.4,336.9,271.5,335,270.2,333.3z"/>
						</mask>
						<g class="st10">
							<path class="st2" d="M270.2,333.3c-1.3-1.7-3-3.1-4.9-4c-1.9-0.9-4-1.4-6.2-1.5c-1.8,0-3.5,0.4-5.2,1.1c-1.6,0.7-3.1,1.7-4.4,3
																									L100,481.5c-1.3,1.3-2.4,2.9-3,4.6c-0.7,1.7-1,3.6-1,5.5c0,1.9,0.5,3.7,1.3,5.4c0.8,1.7,1.9,3.2,3.3,4.4
																									c29,25.8,62.9,45.3,99.7,57.6c1.8,0.6,3.6,0.8,5.5,0.6c1.9-0.2,3.7-0.7,5.3-1.6c1.6-0.9,3.1-2.1,4.2-3.6c1.1-1.5,2-3.1,2.5-4.9
																									l54.7-204.3c0.6-2,0.7-4.1,0.3-6.2C272.4,336.9,271.5,335,270.2,333.3z"/>
						</g>
						<defs>

							<filter id="Adobe_OpacityMaskFilter_00000166634597863690890060000018086869742693822382_" filterunits="userSpaceOnUse" x="220.8" y="335.9" width="136.8" height="237.3">
								<feColorMatrix type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
							</filter>
						</defs>
						<mask maskunits="userSpaceOnUse" x="220.8" y="335.9" width="136.8" height="237.3" id="mask5_1918_128300_00000007395203470448760370000003602623166874429321_">

							<path style="fill:#EFE3D7;filter:url(#Adobe_OpacityMaskFilter_00000166634597863690890060000018086869742693822382_);stroke:#EFE3D7;stroke-width:1.3669;stroke-miterlimit:10;" d="
																									M302.4,346c-0.8-2.9-2.5-5.5-4.9-7.3c-2.4-1.8-5.3-2.8-8.3-2.8c-3,0-5.9,1-8.3,2.8c-2.4,1.8-4.1,4.4-4.9,7.3l-54.7,204.4
																									c-0.5,1.8-0.6,3.7-0.3,5.5c0.3,1.8,0.9,3.6,1.9,5.2c1,1.6,2.2,2.9,3.8,4c1.5,1.1,3.2,1.8,5,2.2c18.5,3.9,37.4,5.8,56.3,5.9h1.1
																									c19.4,0,38.7-2,57.7-6c1.8-0.4,3.6-1.1,5.1-2.2c1.5-1.1,2.8-2.4,3.8-4c1-1.6,1.6-3.3,1.9-5.2c0.3-1.8,0.2-3.7-0.3-5.5L302.4,346z"/>
						</mask>
						<g class="st12">
							<path class="st2" d="M302.4,346c-0.8-2.9-2.5-5.5-4.9-7.3c-2.4-1.8-5.3-2.8-8.3-2.8c-3,0-5.9,1-8.3,2.8c-2.4,1.8-4.1,4.4-4.9,7.3
																									l-54.7,204.4c-0.5,1.8-0.6,3.7-0.3,5.5c0.3,1.8,0.9,3.6,1.9,5.2c1,1.6,2.2,2.9,3.8,4c1.5,1.1,3.2,1.8,5,2.2
																									c18.5,3.9,37.4,5.8,56.3,5.9h1.1c19.4,0,38.7-2,57.7-6c1.8-0.4,3.6-1.1,5.1-2.2c1.5-1.1,2.8-2.4,3.8-4c1-1.6,1.6-3.3,1.9-5.2
																									c0.3-1.8,0.2-3.7-0.3-5.5L302.4,346z"/>
						</g>
						<defs>

							<filter id="Adobe_OpacityMaskFilter_00000169532358203444375420000000363375022579743671_" filterunits="userSpaceOnUse" x="305.5" y="327.8" width="177" height="231.7">
								<feColorMatrix type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
							</filter>
						</defs>
						<mask maskunits="userSpaceOnUse" x="305.5" y="327.8" width="177" height="231.7" id="mask6_1918_128300_00000073696739953670769160000013861953355876736680_">

							<path style="fill:#EFE3D7;filter:url(#Adobe_OpacityMaskFilter_00000169532358203444375420000000363375022579743671_);stroke:#EFE3D7;stroke-width:1.3669;stroke-miterlimit:10;" d="
																									M328.9,331.9c-1.2-1.3-2.7-2.3-4.4-3c-1.6-0.7-3.4-1.1-5.2-1.1c-2.1,0-4.2,0.5-6.2,1.5c-1.9,0.9-3.6,2.3-4.9,4
																									c-1.3,1.6-2.1,3.6-2.5,5.6c-0.4,2-0.3,4.2,0.3,6.2l54.7,204.3c0.5,1.8,1.3,3.5,2.5,4.9c1.1,1.5,2.6,2.7,4.2,3.6
																									c1.6,0.9,3.4,1.4,5.3,1.6c1.9,0.2,3.7,0,5.5-0.6c36.9-12.1,70.8-31.7,99.8-57.5c1.4-1.2,2.5-2.7,3.3-4.4c0.8-1.7,1.2-3.5,1.2-5.3
																									c0-1.9-0.3-3.7-1-5.4c-0.7-1.7-1.7-3.3-3-4.6L328.9,331.9z"/>
						</mask>
						<g class="st14">
							<path class="st2" d="M328.9,331.9c-1.2-1.3-2.7-2.3-4.4-3c-1.6-0.7-3.4-1.1-5.2-1.1c-2.1,0-4.2,0.5-6.2,1.5c-1.9,0.9-3.6,2.3-4.9,4
																									c-1.3,1.6-2.1,3.6-2.5,5.6c-0.4,2-0.3,4.2,0.3,6.2l54.7,204.3c0.5,1.8,1.3,3.5,2.5,4.9c1.1,1.5,2.6,2.7,4.2,3.6
																									c1.6,0.9,3.4,1.4,5.3,1.6c1.9,0.2,3.7,0,5.5-0.6c36.9-12.1,70.8-31.7,99.8-57.5c1.4-1.2,2.5-2.7,3.3-4.4c0.8-1.7,1.2-3.5,1.2-5.3
																									c0-1.9-0.3-3.7-1-5.4c-0.7-1.7-1.7-3.3-3-4.6L328.9,331.9z"/>
						</g>
						<defs>

							<filter id="Adobe_OpacityMaskFilter_00000177442811004578033900000000781742008879844508_" filterunits="userSpaceOnUse" x="327.5" y="305.9" width="231.7" height="176.9">
								<feColorMatrix type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
							</filter>
						</defs>
						<mask maskunits="userSpaceOnUse" x="327.5" y="305.9" width="231.7" height="176.9" id="mask7_1918_128300_00000183214808146658946060000006054551131492933822_">

							<path style="fill:#EFE3D7;filter:url(#Adobe_OpacityMaskFilter_00000177442811004578033900000000781742008879844508_);stroke:#EFE3D7;stroke-width:1.3669;stroke-miterlimit:10;" d="
																									M549,361.2l-204.3-54.8c-1.2-0.3-2.4-0.5-3.7-0.5v1.7v-1.7c-2.7,0-5.3,0.8-7.5,2.4c-2.2,1.5-3.9,3.7-4.9,6.2
																									c-1.1,2.5-1.3,5.2-0.8,7.9c0.5,2.6,1.9,5.1,3.8,7L481,478.8c1.3,1.3,2.9,2.3,4.6,3c1.7,0.7,3.6,1,5.4,1s3.7-0.5,5.4-1.3
																									c1.7-0.8,3.2-1.9,4.4-3.3c25.8-29,45.3-62.9,57.6-99.7c0.6-1.8,0.8-3.6,0.6-5.5c-0.2-1.8-0.7-3.6-1.6-5.3c-0.9-1.6-2.1-3.1-3.5-4.2
																									C552.5,362.5,550.8,361.6,549,361.2z"/>
						</mask>
						<g class="st16">
							<path class="st2" d="M549,361.2l-204.3-54.8c-1.2-0.3-2.4-0.5-3.7-0.5v1.7v-1.7c-2.7,0-5.3,0.8-7.5,2.4c-2.2,1.5-3.9,3.7-4.9,6.2
																									c-1.1,2.5-1.3,5.2-0.8,7.9c0.5,2.6,1.9,5.1,3.8,7L481,478.8c1.3,1.3,2.9,2.3,4.6,3c1.7,0.7,3.6,1,5.4,1s3.7-0.5,5.4-1.3
																									c1.7-0.8,3.2-1.9,4.4-3.3c25.8-29,45.3-62.9,57.6-99.7c0.6-1.8,0.8-3.6,0.6-5.5c-0.2-1.8-0.7-3.6-1.6-5.3c-0.9-1.6-2.1-3.1-3.5-4.2
																									C552.5,362.5,550.8,361.6,549,361.2z"/>
						</g>
						<defs>

							<filter id="Adobe_OpacityMaskFilter_00000136381309018629323230000013257423461895751073_" filterunits="userSpaceOnUse" x="335.5" y="221.2" width="237.3" height="136.8">
								<feColorMatrix type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
							</filter>
						</defs>
						<mask maskunits="userSpaceOnUse" x="335.5" y="221.2" width="237.3" height="136.8" id="mask8_1918_128300_00000002376312820510485980000010620300873080711328_">

							<path style="fill:#EFE3D7;filter:url(#Adobe_OpacityMaskFilter_00000136381309018629323230000013257423461895751073_);stroke:#EFE3D7;stroke-width:1.3669;stroke-miterlimit:10;" d="
																									M566.9,232.1c-0.6-3.1-2.3-5.8-4.8-7.8c-2.4-2-5.5-3.1-8.6-3.1c-1.2,0-2.4,0.2-3.5,0.5l-204.3,54.7c-2.9,0.8-5.5,2.5-7.3,4.9
																									c-1.8,2.4-2.8,5.3-2.8,8.3s1,5.9,2.8,8.3c1.8,2.4,4.4,4.1,7.3,4.9L550,357.6c1.8,0.5,3.7,0.6,5.5,0.3c1.8-0.3,3.6-0.9,5.2-1.9
																									c1.6-1,3-2.3,4-3.8c1.1-1.5,1.8-3.2,2.2-5C574.8,309.3,574.8,270.1,566.9,232.1L566.9,232.1z"/>
						</mask>
						<g class="st18">
							<path class="st2" d="M566.9,232.1c-0.6-3.1-2.3-5.8-4.8-7.8c-2.4-2-5.5-3.1-8.6-3.1c-1.2,0-2.4,0.2-3.5,0.5l-204.3,54.7
																									c-2.9,0.8-5.5,2.5-7.3,4.9c-1.8,2.4-2.8,5.3-2.8,8.3s1,5.9,2.8,8.3c1.8,2.4,4.4,4.1,7.3,4.9L550,357.6c1.8,0.5,3.7,0.6,5.5,0.3
																									c1.8-0.3,3.6-0.9,5.2-1.9c1.6-1,3-2.3,4-3.8c1.1-1.5,1.8-3.2,2.2-5C574.8,309.3,574.8,270.1,566.9,232.1L566.9,232.1z"/>
						</g>
						<defs>

							<filter id="Adobe_OpacityMaskFilter_00000044883978047846484670000003973419177241807760_" filterunits="userSpaceOnUse" x="327.5" y="96.4" width="231.7" height="176.9">
								<feColorMatrix type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
							</filter>
						</defs>
						<mask maskunits="userSpaceOnUse" x="327.5" y="96.4" width="231.7" height="176.9" id="mask9_1918_128300_00000065784531995691059970000002826995529718019748_">

							<path style="fill:#EFE3D7;filter:url(#Adobe_OpacityMaskFilter_00000044883978047846484670000003973419177241807760_);stroke:#EFE3D7;stroke-width:1.3669;stroke-miterlimit:10;" d="
																									M331.5,250c-1.9,1.9-3.3,4.3-3.8,7s-0.3,5.4,0.8,7.9c1,2.5,2.7,4.6,5,6.2c2.2,1.5,4.9,2.3,7.5,2.4c1.2,0,2.5-0.2,3.7-0.5L549,218.1
																									c1.8-0.5,3.5-1.3,4.9-2.5c1.5-1.2,2.7-2.6,3.6-4.2c0.9-1.6,1.4-3.4,1.6-5.3c0.2-1.8-0.1-3.7-0.6-5.5
																									c-12.1-36.9-31.7-70.8-57.5-99.7c-1.3-1.4-2.8-2.6-4.6-3.3c-1.7-0.8-3.6-1.2-5.6-1.2c-1.8,0-3.6,0.3-5.2,1c-1.7,0.7-3.2,1.7-4.4,3
																									L331.5,250z"/>
						</mask>
						<g class="st20">
							<path class="st2" d="M331.5,250c-1.9,1.9-3.3,4.3-3.8,7s-0.3,5.4,0.8,7.9c1,2.5,2.7,4.6,5,6.2c2.2,1.5,4.9,2.3,7.5,2.4
																									c1.2,0,2.5-0.2,3.7-0.5L549,218.1c1.8-0.5,3.5-1.3,4.9-2.5c1.5-1.2,2.7-2.6,3.6-4.2c0.9-1.6,1.4-3.4,1.6-5.3
																									c0.2-1.8-0.1-3.7-0.6-5.5c-12.1-36.9-31.7-70.8-57.5-99.7c-1.3-1.4-2.8-2.6-4.6-3.3c-1.7-0.8-3.6-1.2-5.6-1.2c-1.8,0-3.6,0.3-5.2,1
																									c-1.7,0.7-3.2,1.7-4.4,3L331.5,250z"/>
						</g>
						<defs>

							<filter id="Adobe_OpacityMaskFilter_00000158023697406843230370000017341869110903200446_" filterunits="userSpaceOnUse" x="305.5" y="19.7" width="177" height="231.7">
								<feColorMatrix type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
							</filter>
						</defs>
						<mask maskunits="userSpaceOnUse" x="305.5" y="19.7" width="177" height="231.7" id="mask10_1918_128300_00000052783096238149542490000005044003899978243740_">

							<path style="fill:#EFE3D7;filter:url(#Adobe_OpacityMaskFilter_00000158023697406843230370000017341869110903200446_);stroke:#EFE3D7;stroke-width:1.3669;stroke-miterlimit:10;" d="
																									M308.3,245.9c1.3,1.7,3,3.1,4.9,4c1.9,0.9,4,1.4,6.2,1.5c1.8,0,3.5-0.4,5.2-1.1c1.6-0.7,3.1-1.7,4.4-3L478.5,97.8
																									c1.3-1.3,2.4-2.9,3-4.6c0.7-1.7,1-3.6,1-5.5c0-1.9-0.5-3.7-1.3-5.4c-0.8-1.7-1.9-3.2-3.3-4.4c-29-25.8-62.9-45.3-99.7-57.5
																									c-1.4-0.5-2.8-0.7-4.3-0.7c-3,0-5.9,1-8.3,2.8c-2.4,1.8-4.1,4.4-4.9,7.3L306,234.2c-0.6,2-0.7,4.1-0.3,6.2S307,244.3,308.3,245.9z"/>
						</mask>
						<g class="st22">
							<path class="st2" d="M308.3,245.9c1.3,1.7,3,3.1,4.9,4c1.9,0.9,4,1.4,6.2,1.5c1.8,0,3.5-0.4,5.2-1.1c1.6-0.7,3.1-1.7,4.4-3
																									L478.5,97.8c1.3-1.3,2.4-2.9,3-4.6c0.7-1.7,1-3.6,1-5.5c0-1.9-0.5-3.7-1.3-5.4c-0.8-1.7-1.9-3.2-3.3-4.4
																									c-29-25.8-62.9-45.3-99.7-57.5c-1.4-0.5-2.8-0.7-4.3-0.7c-3,0-5.9,1-8.3,2.8c-2.4,1.8-4.1,4.4-4.9,7.3L306,234.2
																									c-0.6,2-0.7,4.1-0.3,6.2S307,244.3,308.3,245.9z"/>
						</g>
						<defs>

							<filter id="Adobe_OpacityMaskFilter_00000023274805087080563730000007318297528617657481_" filterunits="userSpaceOnUse" x="220.9" y="6" width="136.8" height="237.3">
								<feColorMatrix type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
							</filter>
						</defs>
						<mask maskunits="userSpaceOnUse" x="220.9" y="6" width="136.8" height="237.3" id="mask11_1918_128300_00000072976209487053962780000013127591289072187297_">

							<path style="fill:#EFE3D7;filter:url(#Adobe_OpacityMaskFilter_00000023274805087080563730000007318297528617657481_);stroke:#EFE3D7;stroke-width:1.3669;stroke-miterlimit:10;" d="
																									M276,233.2c0.8,2.9,2.5,5.5,4.9,7.3c2.4,1.8,5.3,2.8,8.3,2.8c3,0,5.9-1,8.3-2.8c2.4-1.8,4.1-4.4,4.9-7.3l54.7-204.4
																									c0.5-1.8,0.6-3.7,0.3-5.5c-0.3-1.8-0.9-3.6-1.9-5.2c-1-1.6-2.2-2.9-3.8-4c-1.5-1.1-3.2-1.8-5-2.2c-18.5-3.9-37.4-5.8-56.3-5.9h-1.1
																									c-19.4,0-38.7,2-57.7,6c-1.8,0.4-3.5,1.1-5.1,2.2c-1.5,1.1-2.8,2.4-3.8,4c-1,1.6-1.6,3.4-1.8,5.2c-0.3,1.8-0.1,3.7,0.3,5.5
																									L276,233.2z"/>
						</mask>
						<g class="st24">
							<path class="st2" d="M276,233.2c0.8,2.9,2.5,5.5,4.9,7.3c2.4,1.8,5.3,2.8,8.3,2.8c3,0,5.9-1,8.3-2.8c2.4-1.8,4.1-4.4,4.9-7.3
																									l54.7-204.4c0.5-1.8,0.6-3.7,0.3-5.5c-0.3-1.8-0.9-3.6-1.9-5.2c-1-1.6-2.2-2.9-3.8-4c-1.5-1.1-3.2-1.8-5-2.2
																									c-18.5-3.9-37.4-5.8-56.3-5.9h-1.1c-19.4,0-38.7,2-57.7,6c-1.8,0.4-3.5,1.1-5.1,2.2c-1.5,1.1-2.8,2.4-3.8,4c-1,1.6-1.6,3.4-1.8,5.2
																									c-0.3,1.8-0.1,3.7,0.3,5.5L276,233.2z"/>
						</g>
						<path class="st2" d="M290,332.4c23.4,0,42.4-19,42.4-42.4c0-23.4-19-42.4-42.4-42.4c-23.4,0-42.4,19-42.4,42.4
																				C247.6,313.4,266.6,332.4,290,332.4z"/>
					</svg>
				</div>
			</div>
		</div>
	</div>
	<div class="months-wrapper">
		<div class="row">
			<div class="col-xs-10 col-md-10 col-md-offset-1 headline-wrapper">
				<h3>Month name</h3>
				<button class="months-button">Se alle aktiviteter</button>
			</div>
				<svg width="1495" height="27" viewbox="0 0 1195 27" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1180.96 11.8746C1180.38 11.0672 1179.62 10.397 1178.72 9.91524C1177.77 9.4294 1176.72 9.1538 1175.64 9.10876C1173.35 9.07468 1171.08 9.60393 1169.06 10.6458C1168 11.1538 1166.99 11.7558 1166.05 12.4439C1165.08 13.1346 1164.22 13.9542 1163.5 14.8776C1162.74 15.7931 1162.11 16.7995 1161.63 17.8711C1161.12 18.9483 1161 20.1543 1161.27 21.3059C1161.64 22.441 1162.42 23.4126 1163.47 24.0432C1164.51 24.6905 1165.64 25.1833 1166.83 25.5044C1169.21 26.1393 1171.66 26.4852 1174.13 26.5339C1176.55 26.6091 1178.97 26.4901 1181.37 26.1781C1182.54 26.0277 1183.7 25.809 1184.85 25.5234C1185.99 25.2689 1187.08 24.8481 1188.08 24.2757C1189 23.7348 1188.82 23.7206 1188.94 23.5451C1189.09 23.3562 1189.27 23.1872 1189.47 23.0422C1189.82 22.7576 1190.43 22.3638 1191.33 21.619C1191.55 21.4558 1191.76 21.2783 1191.95 21.0877L1192.55 20.5136C1192.75 20.3144 1192.92 20.0961 1193.11 19.8874C1193.29 19.6769 1193.46 19.4533 1193.61 19.2185C1194.31 18.2727 1194.77 17.1767 1194.93 16.0257C1195.08 14.8013 1194.88 13.5615 1194.36 12.4344C1193.8 11.2619 1193.04 10.1885 1192.11 9.26055C1190.12 7.33346 1187.8 5.75638 1185.24 4.60184C1182.58 3.36291 1179.78 2.43884 1176.9 1.85027C1175.43 1.54513 1173.93 1.34062 1172.43 1.23827C1170.94 1.11018 1169.45 0.977353 1167.96 0.872982C1164.97 0.645265 1161.95 0.488708 1158.99 0.351128C1153.05 0.0854584 1147.24 0.0190369 1141.84 0.0807103L1143.15 0.204062C1139.03 0.204062 1134 -0.118544 1129.64 0.0474995C1129.6 0.123405 1131.03 0.123412 1130.03 0.246758C1128.5 0.151425 1126.96 0.141922 1125.44 0.218295C1123.37 0.284712 1121.21 0.355864 1120.28 0.327399C1118.56 0.502931 1118.75 0.659498 1116.53 0.887215L1114.01 0.778096C1107.06 0.602564 1097.12 1.46599 1087.64 1.10544C1088.1 1.16711 1089.03 1.21456 1088.28 1.27149C1080.66 1.08172 1072.1 0.882471 1063.31 0.75438C1054.52 0.626289 1045.49 0.593083 1036.98 0.830288C1037.66 0.896706 1038.29 1.04376 1037.3 1.1766C1036.45 0.92516 1031.19 1.07223 1026.63 1.1766C1024.59 1.52766 1018.81 1.1766 1013.46 1.48971L1013.92 1.53716C1009.94 1.35688 1008.06 1.85027 1004.84 1.5846L1002.36 1.85027C1000.61 1.4992 996.639 2.17286 993.37 2.02105L993.474 1.94041C990.389 1.89771 988.789 2.11119 985.932 2.08272L985.659 2.13492C978.966 2.13492 975.076 2.35789 975.225 2.05901C972.88 2.32468 981.714 2.1017 978.032 2.49546C956.007 2.39583 933.316 2.3816 911.137 2.39584C908.618 2.52393 907.013 2.56663 906.447 2.68049C904.241 2.63779 898.11 2.68048 896.093 2.5429C896.833 2.5429 894.662 2.71369 893.494 2.73741C889.46 2.88922 889.082 2.45276 884.655 2.64252C886.419 2.7042 887.015 2.79434 886.434 2.91294C882.648 2.72318 877.6 2.83703 873.134 2.83229C873.829 2.87024 874.907 2.88447 874.738 2.9841C869.854 2.79908 865.835 3.19285 861.552 3.10745L863.157 3.25452C856.276 3.60084 861.12 2.92242 855.163 3.17386C856.594 3.19758 856.092 3.27824 856.35 3.34466C850.791 3.13592 841.803 3.4348 836.253 3.45378C836.586 3.45378 836.496 3.52019 836.496 3.52019C830.455 3.61033 824.15 3.85227 817.502 3.85702C815.087 3.98511 818.302 4.26501 811.908 4.33143C812.136 3.97562 801.057 4.39785 804.818 3.92819C799.352 4.09423 790.722 4.36938 787.085 4.30296C789.54 4.39785 784.427 4.77738 788.963 4.73468L785.54 5.00035C786.037 5.13793 789.068 4.89598 787.985 5.09524C785.704 5.1237 779.071 5.05729 777.054 5.12845C772.846 4.94343 768.965 4.56864 762.149 4.54492C765.358 4.67301 760.325 4.94343 762.511 4.99561L752.987 4.34566C750.716 4.34566 752.49 4.62557 749.211 4.53543C749.385 4.44055 747.954 4.38837 746.95 4.31246C746.101 4.35516 737.51 4.23655 736.517 4.58286C735.523 4.72044 740.218 4.65403 737.704 4.77737C733.511 4.77737 733.327 4.65877 729.129 4.65877L729.049 4.70621C726.282 4.7584 720.891 4.55915 723.902 4.36939C725.83 4.36939 723.171 4.57813 726.018 4.47376C724.071 4.27451 719.197 4.22232 715.003 4.22232C715.624 4.21628 716.241 4.2978 716.837 4.46426C711.203 4.19859 705.23 4.1132 698.95 3.98985C698.856 3.82381 701.295 4.28873 702.225 4.19859C694.156 4.4358 685.565 3.89972 678.873 4.24604C679.971 4.2745 679.469 4.01358 679.37 4.06102C675.484 4.08949 675.658 4.32669 673.129 4.24604C672.881 4.38836 669.95 4.20809 667.341 4.17488C666 4.07525 666.665 4.24603 668.936 4.25552C665.304 4.14166 650.771 3.98037 642.38 4.2318C642.544 4.13692 637.223 3.91869 635.295 3.93767L636.05 4.15116C634.291 4.29349 629.591 4.15115 629.268 4.35989C625.144 4.11794 645.137 4.49273 639.558 4.32194C638.122 4.51171 631.797 4.01832 632.999 4.32194C629.119 4.32194 625.363 4.12269 621.666 4.35041C622.74 4.30771 624.811 4.62557 621.666 4.63506C616.161 4.63506 620.101 4.54017 615.635 4.50222L612.833 4.4358C612.639 4.22706 607.904 4.50696 609.951 4.25552C609.275 4.4358 601.942 4.21758 602.498 4.5639L603.263 4.8343C600.883 4.8343 599.363 4.57813 597.49 4.47376C597.182 4.50222 596.551 4.5639 596.675 4.60659C596.288 4.18911 590.986 4.70622 588.159 4.41208C583.161 4.61608 575.465 4.5544 573.115 4.83905C569.274 4.74891 565.772 4.63031 561.394 4.76314C562.168 4.75376 562.941 4.79338 563.71 4.88174C561.732 4.98145 559.75 4.98145 557.772 4.88174C558.334 4.94342 552.277 5.15216 549.222 5.31821C545.411 5.20909 546.738 4.97189 546.335 4.8438C542.857 5.27077 535.564 4.63506 531.201 5.0051C532.518 5.06677 536.761 5.20909 533.591 5.31821C530.113 5.73095 526.561 5.00984 520.936 5.20909L522.318 4.86278C519.833 5.07626 514.04 4.65877 514.617 5.01458C512.734 4.89123 507.989 5.11421 508.615 4.77737C499.373 5.02881 486.157 4.52593 480.474 5.07151C479.157 5.00983 475.848 5.04305 476.529 4.87226C478.73 4.70148 479.599 5.02882 480.419 4.90547C479.89 4.9426 479.358 4.88959 478.849 4.74891C475.977 4.8011 473.716 4.81059 476.429 5.10947C470.035 5.26602 469.846 4.50222 461.718 4.54967C462.085 4.69199 461.464 4.73943 459.089 4.69673L454.578 4.41208C449.322 4.41208 451.597 4.70148 451.458 4.93394C448.651 4.86752 445.208 4.84855 443.941 4.65404L440.522 4.91021C443.007 4.72519 438.212 4.73943 436.895 4.66352L438.212 4.73943C437.715 4.83431 434.451 4.73943 432.806 4.6825C433.194 4.54018 436.513 4.5212 438.321 4.50222C436.885 4.37888 434.655 4.37887 432.752 4.2318C433.378 4.46901 428.176 4.34093 425.94 4.34093C423.376 4.34093 423.058 4.09422 422.308 4.09422C422.244 4.21282 418.125 4.05628 420.122 4.25079C420.996 4.30297 422.109 4.16064 423.56 4.28873C421.871 4.35515 422.07 4.56389 418.592 4.36464C415.953 4.21757 419.272 3.91869 414.264 3.9946C415.581 4.0705 415.824 4.17013 416.838 4.26502L412.148 4.32194L411.954 4.10845C411.318 4.15115 411.755 4.17962 411.457 4.20334C410.066 3.96139 404.303 4.0373 403.244 3.77163C400.874 3.7147 398.276 3.84754 396 3.83805L396.433 3.86176C393.67 3.94716 390.003 3.81432 387.688 3.63879L387.812 3.68623C386.322 3.68623 382.74 3.59609 380.857 3.44428C377.041 3.54865 379.56 4.22231 375.352 3.91869C371.486 3.85227 369.295 3.44429 370.88 3.33043C363.924 3.37312 356.049 2.92243 349.6 3.16438C348.8 3.02802 347.989 2.9566 347.176 2.95089C336.97 2.90819 325.632 2.47648 317.504 2.85127C320.485 2.94615 317.703 3.06001 317.638 3.18336C315.199 2.98885 314.702 3.36838 313.827 3.04578C314.071 2.85127 313.827 2.76113 316.704 2.68997C313.659 2.63778 309.823 2.57611 306.32 2.61406C302.817 2.65201 299.657 2.70894 297.968 2.80382C299.657 2.70894 298.351 2.65201 297.014 2.61406C297.461 2.9082 292.96 3.04578 289.562 3.00308L289.065 2.82755L286.864 3.07424C285.557 3.07424 285.408 2.72793 282.044 3.00783C281.731 3.14208 281.394 3.2193 281.051 3.23554C277.533 3.19284 272.575 3.08847 268.769 3.36837L265.659 3.73841C264.034 3.76213 261.286 3.68623 264.168 3.51544C257.674 3.89022 253.486 4.04205 251.429 4.34093C240.22 4.1227 223.973 4.57338 210.961 4.83905L211.349 4.97188C207.871 5.16165 209.53 4.7584 207.091 4.89598C208.223 5.00984 204.432 5.22807 207.18 5.34667C202.182 5.56016 200.721 5.1996 197.482 5.1664C196.985 4.98612 200.095 5.25653 199.469 5.03356C198.913 4.97189 192.553 5.23756 191.773 4.9624C190.526 5.07152 191.5 5.2755 192.175 5.38462L189.12 5.26128C185.383 5.60286 197.636 5.79262 193.721 6.2101L190.898 6.18164C188.211 6.49001 198.351 6.47103 191.286 6.60861C188.211 6.48052 185.582 6.0915 188.305 5.95867C181.916 5.90174 185.349 5.29922 178.477 5.32294C176.604 5.48424 183.983 5.36564 182.656 5.59336C179.426 5.80685 176.152 5.46527 173.266 5.59336C176.47 5.46527 173.762 5.19486 171.681 5.18538C168.173 5.37514 173.956 5.40834 168.998 5.5222C168.173 5.37513 163.607 5.38937 167.547 5.1664C165.743 4.85328 162.38 5.40835 159.672 5.2423C158.067 5.55541 164.804 5.63606 159.359 5.96815C160.214 5.67401 152.627 5.91596 155.489 5.42731C153.357 5.59336 153.143 5.79736 154.708 5.87801C151.663 6.15317 147.291 5.78787 146.317 6.31921L145.259 6.1247C144.31 6.25753 142.948 6.39037 141.403 6.59911C138.715 6.74618 132.748 6.72246 133.011 7.07352C132.152 7.07352 126.055 7.41511 128.386 7.03084C132.177 6.67503 132.763 6.99287 134.845 6.52795C132.177 6.95966 129.379 6.78413 127.158 6.79362L126.811 6.95967C125.499 6.95967 122.488 7.14943 121.668 7.02134C122.662 7.0593 122.165 7.18265 121.117 7.26804L119.736 7.10673C114.42 7.22534 118.504 7.55267 113.331 7.695H117.266C116.402 7.695 114.653 7.97016 112.174 7.99388C111.18 7.82309 109.391 7.63333 108.562 7.51947C105.65 7.51947 107.265 7.78514 104.398 7.64282C105.65 7.69975 106.882 7.75668 108.154 7.79463C108.438 7.81835 107.807 7.92747 106.619 8.03184C105.432 8.13621 103.688 8.23584 101.74 8.27379C99.2557 8.24058 95.3954 7.97017 99.3154 7.82785C97.3628 7.82785 94.6353 7.98915 96.1854 8.12673C91.7684 8.05082 96.7617 7.91324 92.9509 7.77092C92.1609 7.83734 90.6007 7.91322 88.7723 7.98913C86.944 8.06503 84.9965 8.22161 83.5209 8.36393C84.8623 8.43984 86.2037 8.52048 87.5502 8.6201L84.8772 8.67228C88.3551 8.86679 83.1332 8.91423 85.0858 9.14669C83.2723 9.23209 81.0714 9.21311 79.3175 9.20362C84.6039 8.54419 73.3553 8.80038 74.8458 8.32597C67.582 8.5015 70.3744 9.54046 62.7578 9.15144C63.995 8.99963 60.4127 8.80038 64.9836 8.76717C60.4823 8.96168 61.9081 8.4588 56.6018 8.76717C60.5468 8.84782 52.3885 9.28901 58.0923 9.40761C57.7047 9.27952 61.2623 9.21787 62.1417 9.22261C60.2836 9.44084 62.5391 9.64008 57.9185 9.76817C55.1013 9.80138 51.2408 9.84407 51.7924 9.61636C51.9116 9.37915 56.0951 9.57367 54.2766 9.36018C48.6722 9.36018 47.7382 9.71126 45.4178 9.28429C48.9553 9.32699 49.8397 9.05657 49.7751 8.90002L45.6613 8.80988L46.4613 8.97116C43.1672 9.01861 42.6852 8.92374 42.2231 8.83834C41.7611 8.75295 41.329 8.66755 38.1492 8.60114L35.1681 8.80513C36.8464 8.99585 38.5358 9.083 40.2258 9.06605C42.2133 9.09926 43.8677 9.12299 43.3013 9.34122C39.1477 9.29852 37.7814 9.03284 33.8613 8.97591C34.7258 9.05656 35.9132 9.11824 36.7678 9.1894C36.0275 9.1894 35.2772 9.28903 33.9805 9.33647C31.9449 9.38 29.9094 9.2466 27.8992 8.93795C24.8784 8.53944 27.1141 8.71025 27.0546 8.53946C23.7555 8.22161 21.6389 7.88952 19.8254 7.59064C18.012 7.29176 16.5017 6.95492 14.4547 6.49474C14.8423 6.74618 13.0237 6.36665 11.6971 6.02033C10.3706 5.67401 9.5011 5.41309 11.6674 6.20535C12.7157 6.40461 15.5328 7.03082 18.4344 7.51947C21.3361 8.00811 24.2772 8.42085 25.4299 8.68178C24.2076 8.7482 25.5044 8.87628 27.2881 9.02334C29.0718 9.17041 31.3324 9.29376 32.038 9.53096C26.7019 9.19888 26.9304 9.53097 26.041 9.71124C24.5505 9.5879 23.1394 9.32222 22.265 9.17516C21.6738 8.87153 23.5967 9.10874 23.7556 8.87627C20.9475 8.60322 18.1598 8.16436 15.4086 7.56218C13.323 7.11214 11.2805 6.49643 9.30237 5.72146C8.36328 5.47477 8.02551 5.43207 8.17957 5.56965C8.78235 5.91886 9.43274 6.18706 10.1123 6.36665C-10.5573 0.000324249 5.27307 7.53816 15.1901 8.95695C18.8969 9.7168 22.6456 10.2759 26.4186 10.6316C30.1051 11.0064 33.7571 11.2294 37.4188 11.3717C44.7522 11.6516 52.1552 11.5994 60.1692 11.3385L57.4663 11.1297C60.343 11.2626 59.3296 10.921 62.1417 10.8783C58.9172 11.2057 66.0518 11.0443 68.0491 11.1345C75.1589 10.6601 84.3357 10.3991 90.5859 10.6601L90.8344 10.4703C97.2437 10.9115 104.895 10.4703 112.849 10.124C114.41 9.88779 115.985 9.7452 117.565 9.69703C121.897 9.82037 124.153 9.69701 130.482 9.56417C135.103 9.32223 142.59 8.83834 147.271 8.47779C155.965 8.25956 164.735 7.91798 173.603 7.8231C178.015 7.79938 182.482 7.8231 186.969 7.8231H200.483L201.784 7.58114C219.338 7.86105 240.886 6.77465 255.851 6.54693L254.395 6.20535C259.075 5.93494 265.082 5.9634 263.9 6.27651C268.595 6.0061 275.635 6.09149 278.606 5.67875C283.411 5.46052 284.494 5.67876 288.488 5.61234C298.073 5.25653 301.65 5.28501 310.707 5.33719H308.461C307.468 5.26128 307.378 5.08575 309.634 5.06677C313.013 5.18063 322.055 4.9956 318.706 5.44629C323.546 5.32769 329.19 5.44629 334.804 5.53168C340.418 5.61708 345.998 5.73094 350.703 5.60759C349.898 5.72145 352.278 5.77838 353.282 5.87801C361.773 5.99661 370.711 5.87801 377.493 6.17689C378.849 6.13419 375.342 5.9302 378.8 5.96815C380.847 6.04405 378.849 6.1342 381.363 6.23857C395.131 6.67502 409.246 6.39512 421.772 6.62284C444.025 7.15418 467.253 7.26329 488.582 7.43883L488.339 7.34394C495.483 7.72821 505.102 7.04505 510.801 7.60486C512.49 7.51946 517.26 7.56218 515.993 7.38665C521.687 7.62385 531.927 7.1779 540.149 7.44357C539.394 7.44357 538.962 7.44356 538.087 7.40087C546.39 7.15417 553.718 7.43407 562.482 7.16366C561.56 7.16319 560.638 7.11728 559.72 7.02609C563.099 6.81735 567.744 7.34395 569.602 6.87902C571.54 6.87902 570.984 7.09251 569.791 7.08777C579.39 6.92172 589.307 6.83158 599.318 6.78889L629.422 6.75567C643.731 6.40461 630.292 5.99662 641.585 6.28126C642.504 6.19112 642.251 6.4473 642.41 6.35242C646.777 6.45205 649.206 5.82583 652.242 6.04406C650.99 6.32396 654.259 6.18638 654.349 6.35242C663.093 6.13894 664.852 5.87802 671.738 6.07727L671.241 5.93494C679.34 6.31921 688.71 6.08201 695.547 6.54693L761.443 6.67977C783.175 6.75567 804.778 6.35717 826.53 5.91122C848.038 5.39411 869.313 4.92919 890.662 4.69673C901.339 4.57813 912.026 4.54492 922.788 4.54492C933.55 4.54492 944.381 4.50696 955.306 4.41208C965.546 3.9946 966.312 4.00408 977.56 4.06576C977.108 4.00883 976.397 4.00409 977.153 3.93767C977.719 4.24604 985.102 3.88549 986.155 4.16539C1002.32 3.89972 1017.21 3.63405 1033.85 2.97937C1031.22 3.04578 1029.88 2.84179 1033.02 2.74216L1036.29 2.81806L1036.81 2.71368C1038.94 2.68996 1041.26 2.76587 1039.07 2.94141C1049.43 2.70894 1059.81 2.84178 1070.17 2.94141C1080.53 3.04103 1090.87 3.11219 1101.21 2.85127L1105.09 2.73741L1108.98 2.57137C1111.55 2.44802 1114.17 2.28197 1116.7 2.12067C1121.8 1.8044 1126.9 1.58459 1132 1.46125C1142.19 1.22879 1152.37 1.46125 1162.52 2.14915C1164.93 2.28673 1167.6 2.47174 1170.39 2.72318C1171.79 2.85601 1173.26 2.96512 1174.6 3.15963C1175.99 3.36649 1177.37 3.66289 1178.72 4.04679C1181.44 4.79506 1184.04 5.87283 1186.48 7.2538C1188.81 8.61536 1190.88 10.2521 1192.06 12.0359C1192.96 13.1875 1193.36 14.6232 1193.18 16.0494C1193.18 16.1352 1193.17 16.2208 1193.16 16.3056L1193.08 16.5523C1193.03 16.7231 1193 16.8938 1192.93 17.0599C1192.79 17.4 1192.63 17.7298 1192.43 18.0467L1192.14 18.5211C1192.02 18.6776 1191.89 18.8294 1191.77 18.9955C1191.64 19.1615 1191.54 19.3133 1191.39 19.4699L1190.96 19.9111C1189.72 21.1004 1188.34 22.1422 1186.84 23.0138C1186.13 23.3973 1185.38 23.6999 1184.6 23.9151C1183.75 24.1621 1182.89 24.3633 1182.03 24.5176C1178.48 25.1467 1174.86 25.2873 1171.27 24.9351C1169.52 24.7993 1167.8 24.4485 1166.14 23.8914C1164.58 23.3316 1163.16 22.4682 1162.69 21.3201C1162.23 20.172 1162.54 18.7345 1163.35 17.335C1163.78 16.6182 1164.26 15.9359 1164.81 15.2951C1165.33 14.6655 1165.93 14.0956 1166.59 13.5967C1167.95 12.5418 1169.47 11.685 1171.1 11.0538C1172.65 10.4105 1174.34 10.1214 1176.03 10.2094C1176.82 10.2681 1177.58 10.4728 1178.28 10.8119C1178.98 11.1654 1179.59 11.6496 1180.08 12.2351L1180.45 12.7095L1180.74 13.1507C1180.77 13.1887 1180.77 13.2361 1180.79 13.2788L1180.88 13.5635C1180.93 13.7627 1180.99 13.9572 1181.03 14.1517C1181.22 14.8249 1181.22 15.5327 1181.03 16.2059C1180.93 16.4658 1180.76 16.6983 1180.54 16.8852C1180.32 17.0721 1180.06 17.2082 1179.78 17.2829C1179 17.5145 1178.18 17.6188 1177.36 17.5912C1175.49 17.5275 1173.64 17.2683 1171.83 16.8179C1171.83 16.8179 1172.06 16.9223 1172.61 17.1121C1173.48 17.4151 1174.37 17.6593 1175.28 17.8427C1176 17.9931 1176.74 18.093 1177.47 18.1415C1178.39 18.219 1179.3 18.1272 1180.18 17.8711C1180.65 17.7245 1181.07 17.4628 1181.4 17.1121C1181.75 16.6974 1181.96 16.1917 1182.01 15.6604C1182.07 15.0245 1182.02 14.3841 1181.87 13.7627C1181.8 13.4311 1181.71 13.1045 1181.59 12.7855L1181.31 12.3442C1181.2 12.1687 1181.07 12.0311 1180.96 11.8746Z" fill="#3D2859"/>
				</svg>
		</div>
		<div class="months-activity-cards">
		
		</div>
	</div>
</div>
</div>
